{% extends 'shortener/base.html' %}

{% block navbar %}

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shortener:shorten' %}"><i class="fas fa-link"></i> URL Shortener</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'shortener:check' %}"><i class="fas fa-check"></i> Check availability</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shortener:my_links' %}"><i class="fas fa-list"></i> My links</a>
    </li>
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="{% url 'shortener:goto_new' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </li>
</ul>

{% endblock %}


{% block content %}



{% endblock %}
